[submodule "test/submodules/jquery"]
	path = test/submodules/jquery
	url = git://github.com/jquery/jquery.git
[submodule "test/submodules/publish"]
	path = test/submodules/publish
	url = git://github.com/CaryLandholt/publish.git
[submodule "test/submodules/requirejs"]
	path = test/submodules/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "test/submodules/qunit"]
	path = test/submodules/qunit
	url = git://github.com/jquery/qunit.git
[submodule "test/submodules/qunit-module-patch"]
	path = test/submodules/qunit-module-patch
	url = git://github.com/CaryLandholt/qunit-module-patch.git
[submodule "test/submodules/window"]
	path = test/submodules/window
	url = git://github.com/CaryLandholt/window.git
[submodule "test/submodules/pubsub"]
	path = test/submodules/pubsub
	url = git://github.com/CaryLandholt/pubsub.git
[submodule "test/submodules/doc"]
	path = test/submodules/doc
	url = git://github.com/CaryLandholt/doc.git
[submodule "test/submodules/document"]
	path = test/submodules/document
	url = git://github.com/CaryLandholt/document.git
[submodule "test/submodules/subscribe"]
	path = test/submodules/subscribe
	url = git://github.com/CaryLandholt/subscribe.git
[submodule "test/submodules/unsubscribe"]
	path = test/submodules/unsubscribe
	url = git://github.com/CaryLandholt/unsubscribe.git
