[submodule "test/jquery"]
	path = test/jquery
	url = git://github.com/jquery/jquery.git
[submodule "test/publish"]
	path = test/publish
	url = git://github.com/CaryLandholt/publish.git
[submodule "test/requirejs"]
	path = test/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "test/qunit"]
	path = test/qunit
	url = git://github.com/jquery/qunit.git
[submodule "test/qunit-module-patch"]
	path = test/qunit-module-patch
	url = git://github.com/CaryLandholt/qunit-module-patch.git
[submodule "test/window"]
	path = test/window
	url = git://github.com/CaryLandholt/window.git
[submodule "test/pubsub"]
	path = test/pubsub
	url = git://github.com/CaryLandholt/pubsub.git
[submodule "test/doc"]
	path = test/doc
	url = git://github.com/CaryLandholt/doc.git
[submodule "test/document"]
	path = test/document
	url = git://github.com/CaryLandholt/document.git
[submodule "test/subscribe"]
	path = test/subscribe
	url = git://github.com/CaryLandholt/subscribe.git
[submodule "test/unsubscribe"]
	path = test/unsubscribe
	url = git://github.com/CaryLandholt/unsubscribe.git
